.Epitrochoid{
    resize: both;
    min-width: 412px;
    min-height: 280px;
}

.Tetris_game{
    resize: both;
    min-width: 600px;
    min-height: 400px;
}

body{
    /* background: #eee; */
    margin: 0;
    /* background: #111111; */
}

.header{
    height: 80px;
    flex-shrink: 0;
}