.parent_vertical {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 5px;
    margin-bottom: 0px;
}

.full_wh{
    width:100%; 
    height:100%;
}

.margin_0{
    margin: 0px;
}

.resizable{resize: both;}

.Epitrochoid{
    resize: both;
    min-width: 412px;
    min-height: 280px;
}

.input_num{
    width: 50px;
}